stack-academy-olist-data-factory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "stack-academy-olist-data-factory"
		},
		"stack_academy_olist_landing_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'stack_academy_olist_landing'"
		},
		"stack_academy_olist_linked_service_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'stack_academy_olist_linked_service'"
		},
		"stack_academy_olist_notebook_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'stack_academy_olist_notebook'"
		},
		"stack_academy_olist_landing_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stackacademyoliststorage.dfs.core.windows.net/"
		},
		"stack_academy_olist_notebook_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0322-123329-4inu38u2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/stack-academy-olist-copy-all-csv-data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_3gj",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_3gj",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "dbo.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "landing//@{item().destination.fileName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_3gj",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_3gj",
											"type": "DatasetReference",
											"parameters": {
												"cw_fileName": "@item().destination.fileName"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "stack-academy-olist-notebook",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ForEach_3gj",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/luciano.teixeira@ltconsult.info/olist_processing_new"
						},
						"linkedServiceName": {
							"referenceName": "stack_academy_olist_notebook",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "olist_customers_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_customers_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_geolocation_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_geolocation_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_order_items_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_order_items_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_order_payments_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_order_payments_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_order_reviews_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_order_reviews_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_orders_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_orders_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_products_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_products_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_sellers_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_sellers_dataset.csv"
								}
							},
							{
								"source": {
									"table": "product_category_name_translation"
								},
								"destination": {
									"fileName": "dbo.product_category_name_translation.csv"
								}
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stack_academy_olist_notebook')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_3gj')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_3gj')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stack-academy-olist-copy-all-data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_mgg",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_mgg",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "dbo.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "landing//@{item().destination.fileName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_mgg",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_mgg",
											"type": "DatasetReference",
											"parameters": {
												"cw_fileName": "@item().destination.fileName"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "olist_customers_dataset"
								},
								"destination": {
									"fileName": "dboolist_customers_dataset.parquet"
								}
							},
							{
								"source": {
									"table": "olist_geolocation_dataset"
								},
								"destination": {
									"fileName": "dboolist_geolocation_dataset.parquet"
								}
							},
							{
								"source": {
									"table": "olist_order_items_dataset"
								},
								"destination": {
									"fileName": "dboolist_order_items_dataset.parquet"
								}
							},
							{
								"source": {
									"table": "olist_order_payments_dataset"
								},
								"destination": {
									"fileName": "dboolist_order_payments_dataset.parquet"
								}
							},
							{
								"source": {
									"table": "olist_order_reviews_dataset"
								},
								"destination": {
									"fileName": "dboolist_order_reviews_dataset.parquet"
								}
							},
							{
								"source": {
									"table": "olist_orders_dataset"
								},
								"destination": {
									"fileName": "dboolist_orders_dataset.parquet"
								}
							},
							{
								"source": {
									"table": "olist_products_dataset"
								},
								"destination": {
									"fileName": "dboolist_products_dataset.parquet"
								}
							},
							{
								"source": {
									"table": "olist_sellers_dataset"
								},
								"destination": {
									"fileName": "dboolist_sellers_dataset.parquet"
								}
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_mgg')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_mgg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stack-academy-olist-copy-data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stack-academy-olist-copy-data_customer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "stack_academy_olist_customers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "stack_academy_olist_landing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/stack_academy_olist_customers')]",
				"[concat(variables('factoryId'), '/datasets/stack_academy_olist_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_3gj')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stack_academy_olist_landing",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().cw_fileName",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stack_academy_olist_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_iiy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stack_academy_olist_landing",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().cw_fileName",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stack_academy_olist_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_mgg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stack_academy_olist_landing",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().cw_fileName",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stack_academy_olist_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_3gj')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stack_academy_olist_linked_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stack_academy_olist_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_iiy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stack_academy_olist_linked_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stack_academy_olist_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_mgg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stack_academy_olist_linked_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stack_academy_olist_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stack_academy_olist_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stack_academy_olist_linked_service",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "stack_academy_olist_input"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "nvarchar"
					},
					{
						"name": "customer_unique_id",
						"type": "nvarchar"
					},
					{
						"name": "customer_zip_code_prefix",
						"type": "nvarchar"
					},
					{
						"name": "customer_city",
						"type": "nvarchar"
					},
					{
						"name": "customer_state",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "olist_customers_dataset"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stack_academy_olist_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stack_academy_olist_geolocation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stack_academy_olist_linked_service",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "stack_academy_olist_input"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "nvarchar"
					},
					{
						"name": "customer_unique_id",
						"type": "nvarchar"
					},
					{
						"name": "customer_zip_code_prefix",
						"type": "nvarchar"
					},
					{
						"name": "customer_city",
						"type": "nvarchar"
					},
					{
						"name": "customer_state",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "olist_geolocation_dataset"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stack_academy_olist_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stack_academy_olist_landing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stack_academy_olist_landing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "stack_academy_olist_output"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "landing"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stack_academy_olist_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stack_academy_olist_landing')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('stack_academy_olist_landing_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('stack_academy_olist_landing_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stack_academy_olist_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('stack_academy_olist_linked_service_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stack_academy_olist_notebook')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5390401183768302.2.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('stack_academy_olist_notebook_accessToken')]"
					},
					"existingClusterId": "[parameters('stack_academy_olist_notebook_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		}
	]
}